<?xml version="1.0"?>

<!-- Launches ensenso_nx capture node, and visualization according rviz param  -->

<launch>

    <!-- User Args  -->
    <arg name="config_file" default="$(find ensenso_nx)/config/ensenso_nx_params.yaml" doc="YAML file with configutaion parameters"/>
	<arg name="namespace" default="cam_pick" doc="Namespace for topics, frames and params"/>

    <!--Set the namespace-->
    <group ns="$(arg namespace)">
      
      <!-- ensenso_nx node parameters-->
      <rosparam
	  command="load"
	  file="$(arg config_file)"/>
      
      <!-- ensenso_nx node-->
      <node
	  pkg="ensenso_nx"
	  type="ensenso_nx"
	  name="ensenso_nx"
	  output="screen">
	<remap from="/cam_pick/ensenso_cloud" to="/cam_pick/depth/points" />
	  <!-- <param name="~tf_prefix" value="$(arg namespace)" type="str"/> -->
	</node>
	    
      </group>

</launch>
