<?xml version="1.0"?>

<!-- Launches ensenso_nx capture node, and visualization according rviz param  -->

<launch>

  <!-- User Args  -->
  <arg name="config_file" default="$(find ensenso_nx)/config/ensenso_nx_params.yaml" doc="YAML file with default configuration parameters"/>
  <arg name="cam_pick_ns" default="cam_pick" doc="Namespace for topics, frames and params for camera 1"/>
  <arg name="cam_place_ns" default="cam_place" doc="Namespace for topics, frames and params for camera 2"/>

  <group ns="$(arg cam_pick_ns)">

    <!-- default ensenso_nx node parameters-->
    <rosparam
      command="load"
      file="$(arg config_file)"/>

    <!-- specific ensenso_nx node parameters for camera 1-->
    <param name="serial_number" value="171417" type="str"/>
    <param name="frame_name" value="$(arg cam_pick_ns)_depth_optical_frame" type="str" />

    <!-- ensenso_nx node for camera 1-->
    <node
      pkg="ensenso_nx"
      type="ensenso_nx"
      name="ensenso_nx"
      output="screen"
      respawn="true" >
      <remap from="/$(arg cam_pick_ns)/ensenso_cloud" to="/$(arg cam_pick_ns)/depth/points" />

    </node>
  </group>

  <!-- CAMERA PLACE -->

  <!--Set the namespace for camera 2-->
  <group ns="$(arg cam_place_ns)">

    <!-- default ensenso_nx node parameters-->
    <rosparam
      command="load"
      file="$(arg config_file)"/>

    <!-- specific ensenso_nx node parameters for camera 2-->
    <param name="serial_number" value="171416" type="str"/>
    <param name="frame_name" value="$(arg cam_place_ns)_depth_optical_frame" type="str" />

    <!-- ensenso_nx node for camera 2-->
    <node
      pkg="ensenso_nx"
      type="ensenso_nx"
      name="ensenso_nx"
      output="screen"
      respawn="true" >
      <remap from="/$(arg cam_place_ns)/ensenso_cloud" to="/$(arg cam_place_ns)/depth/points" />
    </node>
  </group>

</launch>
